<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>WonderHub</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/starability@2.4.0/starability-slot.min.css"
    />
    <link rel="stylesheet" href="/css/rating.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    />
  </head>

  <body class="d-flex flex-column min-vh-100">
    <%- include("../includes/navbar.ejs") %>

    <main class="flex-grow-1">
      <div class="container py-4">
        <%- include("../includes/flash.ejs") %> <%- body %>
      </div>
    </main>

    <footer class="mt-auto w-100">
      <%- include("../includes/footer.ejs") %>
    </footer>
    <script src="/js/script.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
